<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} XCD {% endblock %}</title>
</head>
<body>

{% include 'inc/_nav.html' %}

<div class="container mt-3">
    <div class="row">
        <h1>Семплы</h1>
        <div class="col-md-3">
            {% block sidebar %} Сайтбар {% endblock %}
        </div>

        <div class="col-md-8">
            {% if page_obj.has_other_pages %}
            <nav aria-label="...">
                <ul class="pagination">
                    {% if page_obj.start_index %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.start_index_page_number }}"> Начало </a></li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ p }}">{{ p }} <span class="sr-only"></span></a></li>
                    {% elif p > page_obj.number|add:-2 and p < page_obj.number|add:4 %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_other_pages %}
                    <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}"> Конец </a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

            {% block content %} Контент {% endblock %}
            {% if page_obj.has_other_pages %}
            <nav aria-label="...">
                <ul class="pagination">
                    {% if page_obj.start_index %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.start_index_page_number }}"> Начало </a></li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ p }}">{{ p }} <span class="sr-only"></span></a></li>
                    {% elif p > page_obj.number|add:-2 and p < page_obj.number|add:4 %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_other_pages %}
                    <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}"> Конец </a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

<body><h6>© 2022 Pазработка <a VK href="https://vk.com/id21286161">Pustovalov</a></h6>
</body>
</html>

