{% extends 'base.html' %}

{% block title %}
{{ block.super }}/{{ title }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
<h1>Добавить семплы</h1>
<form action="{% url 'add_author' %}" method="POST">
    {% csrf_token %}
    {{form_a.as_p}}
    <button type="submit" class="btn btn-primary btn-block">Добавить автора</button>
</form>


<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        <div class="form_error">
            {{ field.error }}
        </div>
    </div>

    {% endfor %}
    <h5><button type="submit" class="btn btn-primary btn-block">Добавить</button> <u><font color="red">После добавления ваши семплы будут в очереди на модерации</font></h5>
    {% endblock %}
</form>

