{% extends 'base.html' %}

{% block title %}
{{ block.super }}/{{ title }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
<h1>Добавить семплы</h1>
<form action="{% url 'add_author' %}" method="POST">
    <label>Введите имя: </label>
    <input id="name" type="text" name="name" value="">
    {% csrf_token %}
    {{form.name}}
    <button type="submit" class="btn btn-outline-primary">Добавить автора</button>
</form>


<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-primary">Добавить семплы</button>
</form>
{% endblock %}