{% extends 'base.html' %}

{% block title %}
{{ block.super }}/{{ title }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
<h1>Вы зарегестрированы в системе</h1>
<div>
    <form class="d-flex" action="{% url 'home' %}" method="GET">
        <button class="btn btn-outline-primary" type="submit">Подолжить</button>
    </form>
</div>
<div>
    <form class="d-flex" action="{% url 'login' %}">
        <button class="btn btn-outline-primary" type="submit">Войти</button>
    </form>
</div>

{% endblock %}

