{% extends 'base.html' %}

{% block title %}
{{ block.super }}/{{ title }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
<h1>Ничего не найдено</h1>
<div>
    <form class="d-flex" action="{% url 'home' %}" method="GET">
        <button class="btn btn-outline-primary" type="submit">Подолжить</button>
    </form>
</div>
<img src="https://downloadwap.com/thumbs2/wallpapers/p2ls/new/39/ebwk2w61.jpg" alt="" width="600" height="300" align="left" vspace="2" hspace="2" class="float-left mr-3">
{% endblock %}
